.link-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font: 0/0 a;
    border: 0;
    vertical-align: middle;
    padding: 8px;
    margin: 0 6px 0 -4px;
  }